<?xml version="1.0"?>

<robot name="forklift"  xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:include filename="$(find my_urdf)/urdf/joints_links.xacro"/>
<!--
    <gazebo>
    <plugin filename="libgazebo_ros_diff_drive.so" name="differential_drive_controller">
      <legacyMode>false</legacyMode>
      <alwaysOn>true</alwaysOn>
      <updateRate>100</updateRate>
      <leftJoint>chassis_to_l_wheel</leftJoint>
      <rightJoint>chassis_to_r_wheel</rightJoint>
      <torque>5</torque><br />
      <wheelSeparation>1</wheelSeparation>
      <wheelDiameter>0.3</wheelDiameter>
      <commandTopic>/cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <robotBaseFrame>chassis</robotBaseFrame>
      <odometrySource>1</odometrySource>
      <publishWheelTF>true</publishWheelTF>
      <publishWheelJointState>true</publishWheelJointState>
      <wheelAcceleration>0</wheelAcceleration>
      <wheelTorque>5</wheelTorque>
      <rosDebugLevel>na</rosDebugLevel>
    </plugin>
  </gazebo>
   
  <gazebo>
    <plugin filename="libgazebo_ros_diff_drive.so" name="differential_drive_controller">
      <legacyMode>false</legacyMode>
      <alwaysOn>true</alwaysOn>
      <updateRate>20</updateRate>
      <leftJoint>chassis_to_l_wheel</leftJoint>
      <rightJoint>chassis_to_r_wheel</rightJoint>
      <wheelSeparation>1</wheelSeparation>
      <wheelDiameter>0.3</wheelDiameter>
      <torque>0.1</torque>
      <commandTopic>/cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <robotBaseFrame>chassis</robotBaseFrame>
    </plugin>
  </gazebo>-->

    <m_box name="chassis" size="1 1 1" origin_rpy="0.0 0.0 0.0" origin_xyz="0.0 0.0 0.6"
        mass="30"
        ixx="5" ixy="0" ixz="0"
        iyy="5" iyz="0"
        izz="5"/>

   <m_cylinder name="r_wheel" length="0.06" radius="0.15" origin_rpy="1.57 0.0 0.0" origin_xyz="0.0 0.0 0.0"
             mass="0.5"
              ixx="0.00627" ixy="0" ixz="0"
              iyy="0.00627" iyz="0"
              izz="0.0625"/>
 
    <m_joint name="chassis_to_r_wheel" type="revolute" origin_xyz="0.3 0.5 0.15" origin_rpy="0.0 0.0 0.0"
         axis_xyz="0 1 0" parent="chassis" child="r_wheel" limit_e="1000.0" limit_v="2" 
         limit_l="-3.14" limit_u="3.14"/>

    <transmission name="trans_chassis_to_r_wheel">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="chassis_to_r_wheel">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor_chassis_to_r_wheel">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <m_cylinder name="l_wheel" length="0.06" radius="0.15" origin_rpy="1.57 0.0 0.0" origin_xyz="0.0 0.0 0.0"
             mass="0.5"
              ixx="0.00627" ixy="0" ixz="0"
              iyy="0.00627" iyz="0"
              izz="0.0625"/>
              
     <m_joint name="chassis_to_l_wheel" type="revolute" origin_xyz="0.3 -0.5 0.15" origin_rpy="0.0 0.0 0.0"
         axis_xyz="0 1 0" parent="chassis" child="l_wheel" limit_e="1000.0" limit_v="2" 
         limit_l="-3.14" limit_u="3.14"/>

    <transmission name="trans_chassis_to_l_wheel">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="chassis_to_l_wheel">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor_chassis_to_l_wheel">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

     <link name="caster">
        <inertial>
        <mass value="0.2" />
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0" />
        <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
        </inertial>
        <collision>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0" />
        <geometry>
          <sphere radius="0.1" />
        </geometry>
      </collision>
        <visual>
            <geometry>
                <sphere radius="0.1"/>
            </geometry>
        </visual>
    </link>

   <f_joint name="chassis_to_caster" type="fixed" origin_xyz="-0.3 0.0 0.1" origin_rpy="0.0 0.0 0.0"
          parent="chassis" child="caster"/>  

    <m_box name="r_rod" size="0.1 0.1 3.5" origin_rpy="0.0 0.0 0.0" origin_xyz="0.0 0.0 1.75"
        mass="2"
        ixx="2.04" ixy="0" ixz="0"
        iyy="0.0033" iyz="0"
        izz="2.04"/>

    <f_joint name="chassis_to_r_rod" type="fixed" origin_xyz="0.55 0.25 0.10" origin_rpy="0.0 0.0 0.0"
          parent="chassis" child="r_rod"/>   

    <m_box name="l_rod" size="0.1 0.1 3.5" origin_rpy="0.0 0.0 0.0" origin_xyz="0.0 0.0 1.75"
        mass="2"
        ixx="2.04" ixy="0" ixz="0"
        iyy="0.0033" iyz="0"
        izz="2.04"/>

    <f_joint name="chassis_to_l_rod" type="fixed" origin_xyz="0.55 -0.25 0.10" origin_rpy="0.0 0.0 0.0"
          parent="chassis" child="l_rod"/>

    <m_box name="lift" size="1 0.8 0.02" origin_rpy="0.0 0.0 0.0" origin_xyz="0.5 0.0 0.0"
        mass="1"
        ixx="0.13" ixy="0" ixz="0"
        iyy="0.0533" iyz="0"
        izz="0.0833"/>

    <m_joint name="r_rod_to_lift" type="prismatic" origin_xyz="0.05 -0.25 0.10" origin_rpy="0.0 0.0 0.0"
         axis_xyz="0 0 1" parent="r_rod" child="lift" limit_e="1000.0" limit_v="2" 
         limit_l="0" limit_u="3.0"/>

    <transmission name="trans_r_rod_to_lift">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="r_rod_to_lift">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor_r_rod_to_lift">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <m_box name="pull_mech_v" size="0.1 0.08 0.26" origin_rpy="0.0 0.0 0.0" origin_xyz="0.0 0.0 0.13"
        mass="0.5"
        ixx="0.13" ixy="0" ixz="0"
        iyy="0.0533" iyz="0"
        izz="0.0833"/>
        
    <m_joint name="lift_to_pull_mech_v" type="prismatic" origin_xyz="0.0 0.0 0.0" origin_rpy="0.0 0.0 0.0"
         axis_xyz="1 0 0" parent="lift" child="pull_mech_v" limit_e="1000.0" limit_v="2" 
         limit_l="0" limit_u="0.8"/>

    <transmission name="trans_lift_to_pull_mech_v">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="lift_to_pull_mech_v">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor_lift_to_pull_mech_v">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <m_cylinder name="pull_mech_h" length="0.3" radius="0.04" origin_rpy="0.0 1.57 0.0" origin_xyz="0.2 0.0 0.0"
             mass="0.5"
              ixx="0.00627" ixy="0" ixz="0"
              iyy="0.00627" iyz="0"
              izz="0.00627"/>
    <f_joint name="pull_mech_v_to_pull_mech_h" type="fixed" origin_xyz="0.0 0.0 0.2" origin_rpy="0.0 0.0 0.0"
          parent="pull_mech_v" child="pull_mech_h"/>
   
    <gazebo>
    <plugin name="gazebo_ros_plugin" filename="libgazebo_ros_control.so">
    <robotNamespace>/mrm</robotNamespace>
    <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>
  
</robot>